*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: transparent;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
