*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: transparent;
}
body{
    background-color: #caa9a9;
}
button{
    padding: 10px;
    border-radius: 5px;
    width: 75px;
    background-color: #333;
    color: #8dee8dcb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.buttons{
    margin-top: 10px;
    margin: 5px;
    height: auto;
    display: grid;
    place-items: center;
}
.plant{
    height: 100px;
}
.play{
   margin: 5px;
}
.pause{
    width: 100px;
    margin: 5px;
}
.text{
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}